# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
.coverage
htmlcov/

# IntelliJ IDEA / PyCharm
.idea/
*.iml
traces
